
/* ///////////.....tabs css..../////////// */
.nav.nav-tabs {
            border-bottom: 1px solid #007BFF;
            margin-left: 80px;
        }
        
        button {
            color: black !important;
        }
        
        .nav-link.active {
            border-left-color: #007BFF !important;
            border-right-color: #007BFF !important;
            border-top-color: #007BFF !important;
            color: white !important;
            background-color: #007BFF !important;
        }
        
        .nav-tabs .nav-link:hover {
            border-left-color: #007BFF !important;
            border-right-color: #007BFF !important;
            border-top-color: #007BFF !important;
            border-bottom-color: white !important;
        }
        .form-group a{
          text-decoration:none;
          color: #007BFF;
        }
        
   /* /////////////////////....Tabs css end..../////////////////////////// */
   
   /* //////////////////......pixel setting css....///////////////////// */
   
    
 
    .enable-on-off{
        float: left;
        font-size: 15px;
        font-weight: 700;
        margin-right: 10px;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 46px;
        height: 26px;
    }
    .switch input {
        display: none;
    }
    
    input:checked+.slider:before {
        transform: translateX(21px) !important;
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
    }
    .slider.round:before {
        border-radius: 50%;
    }
    .slider{
            font-size: 12px;
            color: white;
            padding-top: 4px;
            padding-left: 4px;
            }

    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 3px;
        bottom: 3px;
        background-color: #fff;
        -webkit-transition: .4s;
        transition: .4s;
        
    }
    *, ::after, ::before {
        box-sizing: border-box;
    }
    *, :after, :before {
        box-sizing: border-box;
    }
    .goog-te-gadget .goog-te-combo {
        margin:0 !important;
    }
    .goog-te-gadget .goog-te-combo {
        font-size: 12px !important;
        padding: 10px 3px !important;
        font-weight: 700;
        background: #f3f3f3 !important;
        border: #f3f3f3 !important;
    }
    #answer {
      display:none;}

    .fb_pixel {
        height: auto;
    }
    .h_4 {
        font-size: 15px !important;
        font-weight: 700;
    }
    .fa-spin{
      color: #007BFF;
    }
    .fb_p strong{
      color: #007BFF;
    }
    .fb_p {
        font-size: 13px;
        color: black;
        padding: 10px 0 !important;
    }
    .video_link {
        font-size: 13px !important;
        font-weight: 700;
    }
    .fb_pixel_right {
        height: auto;
        padding: 22px 15px 15px;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%), 0 2px 10px 0 rgb(0 0 0 / 30%);
        border-radius:7px;
    }
    button, input {
        overflow: visible;
    }
    
    .label_w {
        width: 100%;
    }
    b, strong {
        font-weight: bolder;
    }
    .input_h1 {
        font-size: 12px;
        padding: 8px 5px;
        border: 2px solid #007bff;
    }
    
      .form-check.label_check {
        float: left;
    }
    .form-check-label {
        margin-top: 5px;
    }
    .form-check-label {
        margin-top: 5px;
    }
   
    #check_box div {
        margin: 5px auto;
        width: 100%;
        align-items: center;
    }
    #check_box input {
        margin: 4px;
    }
    
    a {
        color: #007bff;
        text-decoration: none;
        -webkit-transition: color .25s ease-in-out;
        -moz-transition: color .25s ease-in-out;
        -ms-transition: color .25s ease-in-out;
        -o-transition: color .25s ease-in-out;
        transition: color .25s ease-in-out;
    }
    a {
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
    }
    a {
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
    }
    .input-height {
        height: 40px;
        margin-top: 5px;
    }

    .pixel_table {
        margin-top: 15px;
        border: 1px solid #d8d8d8;
        border-top: none;
    }
    .form-check-label {
        margin-top: 5px;
    }
    .check-label {
        font-size: 12px;
        font-weight: 700;
        margin-right: 10px;
    }
    .btn.btn-sm.animated-button.victoria-one {
        margin-top: 10px;
    }


    a.animated-button.victoria-one {
        BACKGROUND: #007BFF;
        -webkit-animation: shake-horizontal 2s infinite  both;
	        animation: shake-horizontal 2s infinite  both;
    }
    @-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  90% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  80% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  90% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
}

    a.animated-button:link, a.animated-button:visited {
        position: relative;
        margin: 8px auto 0;
        padding: 9px 10px;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }

    .btn {
        border-radius: 0;
        font-family: Roboto;
        font-weight: 400;
    }
    input:checked+.slider {
        background-color: #007BFF !important;
    }
    .slider.round {
        border-radius: 34px;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .switch_first {
        padding: 22px 15px 15px;
        border-radius: 7px;
        background-color: #fff;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%), 0 2px 10px 0 rgb(0 0 0 / 30%);
    }


      
      #pixelRow1466:hover{
        color: white !important;
        background-color: #007BFF;
      }
        #pixelRow1466:hover *{
        color: white !important;
      }
      .pixel_thead{
        background-color: #007BFF;
        color: white;
      }
      .fb_pixel_left{
        padding-top:45px;
      }
      .fb_pixel{
        width:99%;
      }
   

    .second {
      border: none;
      border-radius: 8px;
      font-family: 'Lato';
      margin: 5px;
      text-transform: uppercase;
      cursor: pointer;
    }
     
      #changeStatus[type=checkbox]:checked .statusSpinner{
        display: none; 
      }
      .goog-logo-link {
      display:none !important;
      } 
          
      .goog-te-gadget{
          color: transparent !important;
      }
      .tab-pane{
        padding-right:40px;
        padding-left: 40px;
        padding-top: 10px;
      }
      .fa-times-circle{
        color: black !important;
      }

      .tooltipp {
      position: fixed;
      right: 1rem;
      bottom: 4rem;
      color: white;
      background-color: #007BFF;
      line-height: 20px;
      z-index: +9;
      padding: 5px;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%), 0 2px 10px 0 rgb(0 0 0 / 30%);
      }
      .facebook-chat{
        color:#007BFF;
      }
      .niche-form-logo{
        font-size: 25px;
        width: 5%;
      }
     
    .form-control{
      border: 2px solid #007BFF;
    }
    .fa-edit{
      padding-right: 4px;
    }
    .fa-trash-alt{
      padding-right: 4px;
    }
    .click-here-on-link:hover{
      color: #fa3d36;
      text-decoration: underline;
    }
    .click-here-on-link{
      text-decoration: none;
      font-weight:500;
    }
   /* //////////////////......pixel setting css end....///////////////////// */

    /* //////////////////...feed setting css....////////////////////////// */
          .feed-setting-main-div{
            margin: auto !important;
            padding-left: 27px;
          }
            #title_caps{
              margin-right:10px;
            }
            .tab-pane{
              width: 98%;
            }
           .p_msg{
               display: inline;
               padding: 5px;
               margin: 5px;
               opacity: 1;
              text-align: center;
              position: relative;
              font: italic bold 20px Bodoni, serif;
              color: #555;
              text-align: center;
              opacity:1;                
           }
           .p_msg{
           animation: blinker 10s ;
            }

          @keyframes blinker {
          50% {
            opacity: 0;
          }
        }
           
                
            .col-12.product_feed {
                height: auto;
                margin-top: 20px;
            }


            .h_4 {
                font-size: 15px !important;
                font-weight: 700;
            }
            .fb_p {
                font-size: 13px;
                color: #000000;
                padding: 10px 0 !important;
            }
            .product_feed_right {
                height: auto;
                padding: 14px;
                box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%), 0 2px 10px 0 rgb(0 0 0 / 30%);
                padding-top: 10px;
                height: 40%;
            }
            .product_feed_left a:hover {
                color: #fa3d36;
                text-decoration: underline;

            }
            .product_feed_left a{
                color: #007BFF;
                text-decoration: none;
            }
            .product_feed_left{
              padding-top: 20px;
            }
            .check_p {
                padding: 25px 15px !important;
            }
            .input_h {
                margin-bottom: 7px;
                width: 100%;
                border: 2px solid #007BFF;
            }
              textarea:focus, input:focus{
              outline: none !important;
              box-shadow: 10px 10px 8px #a5a5a5 !important;
              outline: 0 none !important;
              }
              
            .input_h1{
                margin-bottom: 7px;
                width: 119%;
                height: 75%;
            }
            
            .product_feed_right{
              background-color: white;
            }

                        
            .copy-button {
            background-color: transparent;
            border: 3px solid #007BFF;
            color: #007BFF;
            transition: .3s;
            padding-left: 20px;
            padding-right: 20px;
            }
            .copy-button:hover {
            animation: pulse 1s infinite;
            transition: .3s;
            }
            @keyframes pulse {
            0% {
                transform: scale(1);
            }
            70% {
                transform: scale(.9);
            }
                100% {
                transform: scale(1);
            }
            }
    /* //////////////////...feed setting css end...////////////////////////// */

    /* //////////////////////FAQ's css//////////////////////// */
   .questions:checked ~ .answers{
     max-height: none !important;
   }
    .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: 2px solid #f4f6f8;
        }
        .demo .panel-body {
            background: #FFF;
            padding: 20px;
            font-size: 14px;
        }
        .faq-content{
          padding-left: 40px;
        }
        .center{
          width: 100%;
        }
        .ol_style {
        font-size: 14px;
        padding-top: 10px;
          }
 
        .ol_style li{
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: none !important;
          }
          .ol_style a{
            text-decoration: none;
          }
          .panel_h4 iframe{
            padding-top: 10px;
            padding-bottom: 10px;
          }
 
.centerplease {
  margin: 0 auto;
  max-width: 270px;
  font-size: 20px;
}

.question {
  position: relative;
background:#007BFF;
  margin: 0;
  padding: 10px 10px 10px 50px;
  display: block;
  width:100%;
  cursor: pointer;
  color: white;
}

.answers {
  width: auto;
  padding: 0px 15px;
  margin: 5px 0;
  max-height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
  color: #000000;
}

.questions:checked ~ .answers{
  max-height: 500px;
  opacity: 1;
  padding: 15px;
}

.plus {
  position: absolute;
  margin-left: 10px;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  color: white;
}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
}
    /* //////////////////////FAQ's css end//////////////////////// */

/* ///////////////////////help and support css/////////////////////// */
   .help-and-support{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding-top: 50px;
      height: 100vh;
      font-family: "Open Sans";
    }

.education {
  --bg-color: #b1d7ff;
  --bg-color-light: #8cc2ff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(184, 209, 255, 0.48);
}

.credentialing {
  --bg-color: #B8F9D3;
  --bg-color-light: #87fdb8;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(184, 249, 211, 0.48);
}

.wallet {
  --bg-color: #CEB2FC;
  --bg-color-light: #F0E7FF;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.human-resources {
  --bg-color: #f6d0ff;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.card {
  width: 220px;
  height: 321px;
  background: #fff;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-out;
  text-decoration: none;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 40%), 0 2px 10px 0 rgb(0 0 0 / 40%);
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.card:hover .overlay {
  transform: scale(4) translateZ(0);
}

.card:hover .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.card:hover .circle:after {
  background: var(--bg-color-light);
}

.card:hover p {
  color: var(--text-color-hover);
}

.card:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0,0,0,0.11),
    0 15px 24px var(--box-shadow-color);
}

.card p {
  font-size: 17px;
  color: #000000;
  margin-top: 30px;
  z-index: 1000;
  transition: color 0.3s ease-out;
}

.circle {
  width: 131px;
  height: 131px;
  border-radius: 100%;
  background: #fff;
  border: 3px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circle:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  top: 7px;
  left: 7px;
  transition: opacity 0.3s ease-out;
}



.overlay {
  width: 118px;
  position: absolute; 
  height: 118px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 70px;
  left: 50px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}

.circle img{
  z-index: 10000;
  transform: translateZ(0);
  width: 80%;
}
.Title-and-Description{
  padding-bottom: 20px;
}
.description-lable{
  padding-top: 5px;
}

#hideDiv{
  animation: blinker 10s infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* ///////////////////////help and support css end/////////////////////// */

/* ///////////////////upgrade plan css////////////////////////// */

  /* upgrade plan */

  .wrapper{
    display: flex;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    margin: 50px;
    padding: 0px 20px;

}



.pricing-table{
   box-shadow: 0px 0px 18px #ccc;
   text-align: center;
   padding: 20px 0px;
   border-radius: 5px;
   position: relative;
   width: 80%;
   margin-bottom: 30px;
}
.pricing-table .head {
    border-bottom:1px solid #eee;
    padding-bottom: 50px;
    transition: all 0.5s ease;
}
.pricing-table:hover .head{
   border-bottom:1px solid #4872fc;
   
   
}

.pricing-table.head.title1{
  font-size: 20px;
  font-weight: 700;
}


.pricing-table .head .title{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    
}

.pricing-table .content .price{
    background:#007BFF;
    width: 100px;
    height: 100px;
    margin: auto;
    line-height: 90px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px #ccc;
    margin-top: -50px;
    
}
.pricing-table:hover .content .price{
    transform: scale(1.2);
    transition: all 0.5s ease;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    box-shadow: 0 22px 43px rgba(0, 0, 0, 0.32);
    cursor: pointer;
    border-radius: 50px;
   
 
}
.pricing-table .content .price h1{
    color:#fff;
    font-size: 25px;
    font-weight: 700;
    padding-top: 28px;
    
}
.pricing-table .content ul{
   list-style-type: none;
   margin-bottom: 20px;
   padding-top: 10px;
}

.pricing-table .content ul li{
    margin: 20px 0px;
    font-size: 14px;
    color:#555;
}

.pricing-table .content .sign-up{
    background:#007BFF;
    border-radius: 40px;
    font-weight: 500;
    position: relative;
    display: inline-block;
}


.pricing-table .btn {
  color: #fff;
  padding: 14px 40px;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3 linear;
  transition: all 0.3 linear;
  border: none;
  font-size: 14px;
  text-transform: capitalize;
  position: relative;
  text-decoration: none;
    margin: 2px;
    z-index: 9999;
    text-decoration: none;
    border-radius:50px;
 
}

.pricing-table .btn:hover{
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.pricing-table .btn.bordered {
  z-index: 50;
  color: #333;
}
.pricing-table:hover .btn.bordered{
  color:#fff !important;
}

.pricing-table .btn.bordered:after {
  background: #fff none repeat scroll 0 0;
  border-radius: 50px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3 linear;
  transition: all 0.3 linear;
  width: 100%;
  z-index: -1;	
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  transform:scale(1);
}
.pricing-table:hover .btn.bordered:after{
  opacity:0;
  transform:scale(0);
}

@media screen and (max-width:768px){
   .wrapper{
        grid-template-columns: repeat(2,1fr);
    } 
}

@media screen and (max-width:600px){
   .wrapper{
        grid-template-columns: 1fr;
    } 
}

.pricing-table:hover{
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  box-shadow: 0 22px 43px rgba(0, 0, 0, 0.32);
  cursor: pointer;
  border-radius: 5px;
  
}
.pricing-list{
    width: 52%;
    margin: auto;
    text-align: left;
    padding-left: unset;
    padding-top: unset;
  margin-right: 70px;

}


/* //////////////////..upgrade plan css end.../////////////////////////// */

/* //////////////////..recommended-css.../////////////////////////// */


.fa-app-store-ios{
  font-size: 90px !important;
  float: left;
  padding-right: 20px;
}
.try-it-free-btn{
    display: block;
    color: white !important;
    background: #007BFF;
    width: 158px !important;
    height: 30px !important;
    border-radius:4px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-animation: vibrate-1 3s linear infinite both;
	        animation: vibrate-1 3s linear infinite both;
}
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

  .recommended-apps-main{
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%), 0 2px 10px 0 rgb(0 0 0 / 30%);
  border-radius: 6px;
}

.recommended-apps-items span{
  color: #757171;
  padding-left: 5px;
}
.recommended-apps-items-2 span{
  color: #757171;
  padding-left: 5px;
}

.carousel-indicators button{
  background-color:#007BFF !important;
}
.recommended-apps-container{
  margin-left: 40px !important;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%), 0 2px 10px 0 rgb(0 0 0 / 30%) !important;
  border-radius:5px;
  display: block;
  width: 92%;
  padding: 10px; 
}
.carousel-indicators{
  position: unset !important;
}

/* ////////////////////////////////////////////////////////////////// */
@media (min-width: 2000px) and (max-width : 3000px){
  .recommended-apps-container{
    width: 93.5%;
  }
  .product_feed_left{
    width: 100% !important;
  }
  .product_feed_right{
    width: 100% !important;
  }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
   {
.product_feed_left{
  width: 100% !important;
}
.fb_pixel_right{
  width:100% !important;
}
.fb_pixel_left{
  width:100% !important;
}
.product_feed_right{
  width: 100% !important;
}
.recommended-apps-container{
    width: 85.3%;
  }
  .upgrade-plan-main-div{
    display: grid;
    width: 100%;
  }
}

@media only screen 
  and (min-device-width:2560px) 
  and (max-device-width:3000px) 
    {

      .pricing-list li{
      font-size: 22px !important;
        }
        .recommended-apps-container{
          width: 94.3%;
        }
        .switch_first{
          width: 99.5%;
        }
        .head h4{
          font-size: 30px !important;
          letter-spacing: 2px;
        }
        .sign-up a{
          font-size: 26px !important;
        }
        .price h1{
          font-size: 31px;
        }
        .price{
          width: 15% !important;
          height: -1% !important;
        }
    }

  @media only screen 
  and (min-device-width:4000px) 
  and (max-device-width:4500px) 
    {
   .recommended-apps-container{
    width: 95.3% !important;
   }
   .switch_first{
     width: 99.3% !important;
   }
   .product_feed_left{
     text-align: center !important;
   }
  }
  


  .goog-te-banner-frame.skiptranslate, .goog-te-gadget-icon {
    display: none !important;
}
body {
    top: 0px !important;
}
.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}